---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Projects" description="Things that I'm making" path="/projects">
  <h2 class="text-3xl font-headline mb-4">WASM Game of Life</h2>
  <p class="text-md mb-4">
    This is a simple implementation of Conway's Game of Life using Rust and
    WebAssembly.
  </p>
  <canvas class="mx-auto mb-2" id="game-of-life-canvas"></canvas>
  <div class="controls grid grid-cols-3">
    <button
      class="text-lg px-8 bg-green-600 rounded-sm hover:bg-green-900 mx-2"
      id="play-pause">⏸</button
    >
    <button
      class="text-lg px-8 rounded-sm bg-orange-500 mx-2"
      id="reset-universe">Reset Universe</button
    >
    <button class="text-lg px-8 rounded-sm bg-orange-500 mx-2" id="randomize">
      Randomize
    </button>
    <input
      class="ring-offset-orange-300 accent-cyan-500 px-5 mx-5"
      id="ticks-per-frame"
      type="range"
      min="1"
      max="5"
      value="1"
      list="ticks"
    />Ticks per frame
    <datalist id="ticks">
      <option value="1"></option>
      <option value="2"></option>
      <option value="3"></option>
      <option value="4"></option>
      <option value="5"></option>
    </datalist>
    <button
      class="text-lg px-8 rounded-sm bg-orange-500 mx-2"
      id="toggle-debug"
    >
      Toggle Debug
    </button>
  </div>
  <div class="mb-4 h-9" id="fps"></div>
  <div class="mb-4 h-9 grid grid-cols-4 gap-4" id="generation">
    <div class="bg-gray-800 rounded-lg text-center">
      <div>FPS</div>
      <div id="fps-value">50</div>
    </div>
    <div class="bg-gray-800 rounded-lg text-center">
      <div>Avg FPS</div>
      <div id="avg-fps-value">50</div>
    </div>
    <div class="bg-gray-800 rounded-lg text-center">
      <div>Min FPS</div>
      <div id="min-fps-value">50</div>
    </div>
    <div class="bg-gray-800 rounded-lg text-center">
      <div>Max FPS</div>
      <div id="max-fps-value">50</div>
    </div>
  </div>
  <script src="@/wasm-game-of-life/bootstrap.js"></script>
</Layout>
