---
import Intro from "@/components/Home/Intro.astro";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";
---

<Layout title="About" description="All about me" path="/about">
  <Intro />
  <section id="things" class="mb-20">
    <h2 class="mb-4 font-headline text-3xl">Stuff I use</h2>
    <ul class="list-inside list-disc space-y-2">
      <li>
        Neovim

        <ul class="ml-2 list-inside list-disc">
          <li>
            <Link href="https://github.com/dylf/nvim-config">My config</Link>
          </li>
        </ul>
      </li>
      <li>
        Linux (!Pop_OS)
        <ul class="ml-2 list-inside list-disc">
          <li>
            <Link href="https://github.com/dylf/dotfiles">Dotfiles</Link>
          </li>
          <li>
            <Link href="https://github.com/dylf/workstation-playbook">
              Ansible playbook
            </Link>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</Layout>
