---
import { Image } from "astro:assets";
import profileImage from "../../assets/profile.jpeg";
---

<section id="intro" class="container mx-auto mb-12 flex">
  <div class="basis-2/3">
    <h1 class="mb-2 font-headline text-5xl">Dylan Fontaine</h1>
    <h2 class="mb-4 font-subheadline text-lg">
      Software Architect at Acro Commerce
    </h2>
    <p class="mb-4 text-xl">
      Hello there, I'm Dylan. I'm a Software Architect at Acro Commerce where I
      work with various tech to develop full-stack web apps. I am passionate
      about programming and open source, and I'm always looking for the upcoming
      hot tech stack. These days I primarily work with PHP, Typescript, and
      Next.js.
    </p>
    <p class="mb-4 text-xl">
      When I'm not coding you can probably catch me playing video games, board
      games, and tabletop RPGs, playing music, or laying low with my family.
    </p>
  </div>
  <div class="basis-1/3">
    <Image
      src={profileImage}
      class="m-auto w-52 rounded-full"
      alt="Dylan Fontaine profile"
      width="208"
      height="208"
      loading="eager"
    />
  </div>
</section>
