---
---

<section id="intro" class="flex mb-12">
  <div class="basis-2/3">
    <h1 class="text-4xl font-headline mb-4 text-active-highlight">
      Dylan Fontaine
    </h1>
    <p class="mb-4 font-subheadline">
      Cough. Attack the dog then pretend like nothing happened prance along on
      top of the garden fence.
    </p>
    <ul class="list-disc list-inside">
      <li>Cat cat moo moo lick ears</li>
      <li>Always ensure to lay down in such a manner</li>
      <li>Please stop looking at your phone and pet me</li>
      <li>Hide head under blanket</li>
    </ul>
  </div>
  <div class="basis-1/3">
    <img
      src="/profile.jpeg"
      class="w-52 rounded-full m-auto"
      alt="Profile picture"
      width="208"
      height="208"
    />
  </div>
</section>
