---
import Card from "./ProjectCard.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("project");
---

<div class="w-full">
  <section id="featured-posts" class="container mx-auto mb-20 py-0">
    <h2 class="mb-4 font-headline text-3xl">Stuff I've made</h2>
    <ul class="mb-6 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((project) => (
          <li class="flex">
            <Card
              liveUrl={project.data.liveUrl}
              sourceUrl={project.data.sourceUrl}
              title={project.data.title}
              description={project.data.description}
            />
          </li>
        ))
      }
    </ul>
    <a
      href="https://www.github.com/dylf"
      class:list={[
        "hover:text-cyan-300",
        "font-light",
        "hover:underline",
        "ease-in",
        "duration-100",
        "text-lg",
        "float-right",
      ]}
    >
      View more projects on GitHub
      <span class="text-xl">&rarr;</span>
    </a>
  </section>
</div>
