---
export interface Props {
  title: string;
  liveUrl: string;
  sourceUrl: string;
  description: string;
}

const { liveUrl, sourceUrl, title, description } = Astro.props;
---

<div
  class:list={[
    "p-5",
    "flex",
    "hover:animate-gradient-xy",
    "hover:bg-gradient-to-tr",
    "to-cyan-500",
    "via-purple-900",
    "from-black",
    "rounded-xl",
    "duration-200",
    "hover:bg-opacity-0",
    "bg-black",
    "bg-opacity-40",
  ]}
>
  <div class:list={["mx-auto", "p-3", "w-full", "relative"]}>
    <h3 class="text-subheading text-xl">
      {title}
    </h3>
    <div class="mt-2 flex">
      <p class="text-gray-300">
        {description}
      </p>
    </div>
    <div class="mt-4 flex justify-end gap-4">
      <a
        class="border-input focus-visible:ring-ring inline-flex h-8 items-center justify-center rounded-md border px-4 text-sm font-medium shadow-sm transition-colors hover:border-cyan-400 hover:bg-bg-primary hover:text-cyan-400 focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50"
        href={liveUrl}
        target="_blank"
      >
        View Project &rarr;
      </a>
      <a
        class="border-input focus-visible:ring-ring inline-flex h-8 items-center justify-center rounded-md border px-4 text-sm font-medium shadow-sm transition-colors hover:border-cyan-400 hover:bg-bg-primary hover:text-cyan-400 focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50"
        href={sourceUrl}
        target="_blank"
      >
        GitHub &rarr;
      </a>
    </div>
  </div>
</div>
