---
interface Props {
  href: string;
  active?: boolean;
}

const { href, active = false } = Astro.props;
const activeClass = active ? 'text-active-highlight scale-110' : '';
---

<li
  class:list={[
    'hover:scale-110 ease-in duration-100 hover:text-cyan-400',
    activeClass,
  ]}
>
  <a rel="prefetch" href={href}>
    <slot />
  </a>
</li>
