---
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description: string;
    url: string;
  };
}

const { title, description } = Astro.props.frontmatter;
const pageTitle = `${title} | Dylan Fontaine`;
---

<Layout title={pageTitle} description={description} path="/blog">
  <main class="container mx-auto">
    <slot />
  </main>
</Layout>
